.header {
  position: fixed;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #d3d3d3;
  width: 100%; }

.header-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  height: 65px; }

.header-toggle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-toggle div {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0; }

.header-info {
  height: 100%; }

.user-info {
  height: 100%;
  min-width: 125px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10; }
  .user-info span {
    color: #232323;
    margin-right: 10px; }
  .user-info svg {
    color: #72777a; }
  .user-info:hover .user-links-list {
    opacity: 1;
    display: block; }

.user-links-list {
  display: none;
  background-color: rgba(35, 35, 35, 0.3);
  min-width: 150px;
  position: absolute;
  top: 49px;
  border-radius: 5px;
  opacity: 0;
  left: 0;
  padding: 0;
  list-style: none; }

.user-links-list-item {
  padding: 10px; }

main {
  min-height: 600px;
  background-color: #f9fafb; }

.table {
  margin-top: 120px;
  margin-bottom: 100px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  .table h1 {
    margin-top: 50px; }

.table-section-small {
  -ms-flex: 1 0 0;
  flex: 1 0 0; }

.table-section {
  -ms-flex: 2 0 0;
  flex: 2 0 0; }

.table-section-big {
  -ms-flex: 3 0 0;
  flex: 3 0 0; }

.table-section-small b, .table-section b, .table-section-big b {
  color: #232323; }

.table-heading-black {
  background-color: #232323;
  width: 100%;
  min-height: 45px;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.table-list {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -ms-flex-align: center;
  align-items: center; }

.table-list-item {
  text-align: center;
  width: 100%;
  min-height: 45px;
  color: #232323;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #d3d3d3; }
  .table-list-item:hover {
    background-color: #d3d3d3; }

.table-edit {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
  .table-edit:hover {
    color: #2196f3;
    transition: all 0.4s ease; }

.table-delete {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
  .table-delete:hover {
    color: lightcoral;
    transition: all 0.4s ease; }

.table-add-block {
  cursor: pointer;
  margin: 20px 0 20px 30px;
  padding: 4px 8px;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 40px;
  border-radius: 5px;
  background-color: lightgreen;
  width: auto;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); }
  .table-add-block span {
    margin-left: 5px; }

.pagination {
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: 1px solid #d3d3d3; }
  .pagination li {
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid #d3d3d3; }
    .pagination li a {
      padding: 10px 12px;
      color: #007bff;
      text-decoration: none; }
      .pagination li a:hover {
        background-color: #e9ecef;
        border-color: #dee2e6; }
    .pagination li:last-child {
      border-right: none; }
  .pagination li.disabled, .pagination li.active {
    padding: 10px 12px;
    pointer-events: none;
    color: #6c757d; }
    .pagination li.disabled:after, .pagination li.active:after {
      display: none; }

.dashboard-content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: -ms-flexbox;
  display: flex; }

.title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 10 0 0;
  flex: 10 0 0;
  font-weight: bold; }

.active, .accordion:hover {
  background-color: #ccc; }

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.active:after {
  content: "\2212"; }

.panel {
  width: 100%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .panel:last-child {
    border: none; }
  .panel div {
    padding: 0 18px;
    border-bottom: 1px solid #c7c7c7; }

#button-add-general {
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: lightgreen;
  color: black;
  font-size: 26px; }

/*# sourceMappingURL=dashboard.css.map */
