.extra-products {
  width: 100%; }

.extra-product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.charts {
  margin-top: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.chart {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: relative;
  height: 350px; }

.chart-big {
  position: relative;
  height: 600px;
  width: 100%; }

.chart-content {
  width: 100%;
  height: 100%; }
  .chart-content h2 {
    text-align: center; }

.panel-orders {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .panel-orders div {
    border-bottom: none; }

.mt15 {
  margin-top: 15px; }

.fdc {
  -ms-flex-direction: column;
  flex-direction: column; }

.stats {
  margin: 30px 0;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .stats h1 {
    text-align: center;
    font-weight: 200; }

.orders {
  margin-top: 35px; }

.panel-position-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .panel-position-inner div {
    padding: 0;
    border-bottom: 0; }

.stats-title {
  text-align: center;
  font-weight: 300; }

.extra-product-button {
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  width: 100%; }

.green-button {
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .green-button button {
    background-color: lightgreen;
    color: black; }

.order-sum {
  font-weight: bold; }

/*# sourceMappingURL=orders.css.map */
