.danger-color {
  color: darkred; }

.payments h1 {
  margin-top: 50px; }

.taxes {
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 20px; }
  .taxes h1 {
    margin: 0;
    padding: 35px;
    text-align: center;
    border-bottom: 1px solid black; }

.tax-block {
  padding: 20px;
  border-bottom: 1px solid black; }
  .tax-block h3 {
    margin-top: 0; }
  .tax-block .accordion {
    margin-bottom: 10px; }

.panel .form-row {
  padding: 10px 18px; }
  .panel .form-row button {
    border: 1px solid #444;
    padding: 8px 12px;
    font-size: 1.1rem;
    background: none;
    outline: none; }

.fdc {
  -ms-flex-direction: column;
  flex-direction: column; }

.panel div {
  border-bottom: none; }

.taxes {
  margin-top: 100px;
  width: 100%; }

.panel .small-table {
  padding: 0; }

.panel .small-table-row {
  padding: 0;
  border: none; }

.panel .small-table-content {
  padding: 0; }

.small-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }

.small-table-row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 50px; }

.small-table-cell {
  -ms-flex: 2 0 0;
  flex: 2 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.small-table-big-cell {
  -ms-flex: 3 0 0;
  flex: 3 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.small-table-small-cell {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.small-table-content {
  width: 100%; }

.small-table-content .small-table-row {
  width: 100%;
  border-top: 1px solid black; }

/*# sourceMappingURL=payments.css.map */
