#settings {
  margin-top: 120px; }

.settings-container {
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 20px; }

.settings-heading {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #777; }

.settings-block {
  padding: 25px;
  font-size: 1.3rem;
  border-bottom: 1px solid #777; }

.setting-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.settings-value {
  text-decoration: underline;
  padding: 5px 8px;
  border: none;
  outline: none;
  background: transparent;
  position: relative; }
  .settings-value:hover:before {
    border: 2px dashed rgba(144, 238, 144, 0.7);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0;
    content: ''; }

/*# sourceMappingURL=settings.css.map */
