#stats {
  margin-top: 100px; }
  #stats .container {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-direction: column;
    flex-direction: column; }

.shifts-electricity {
  background-color: transparent;
  padding: 0px; }

/*# sourceMappingURL=shifts.css.map */
