.sidebar {
  z-index: 100;
  background-color: white;
  position: fixed;
  left: -500px;
  right: 0;
  width: 20%;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  transition: left 0.2s ease; }

.sidebar-heading {
  border-bottom: 1px solid #d3d3d3; }

.sidebar-content {
  width: 100%;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }

.sb-heading-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  height: 65px; }
  .sb-heading-left a {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px; }
  .sb-heading-left img {
    max-width: 100%;
    max-height: 100%; }

.sb-heading-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  height: 65px; }
  .sb-heading-right .sidebar-toggle {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px; }
    .sb-heading-right .sidebar-toggle:before, .sb-heading-right .sidebar-toggle::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
      z-index: 2; }
    .sb-heading-right .sidebar-toggle:before {
      transform: rotate(45deg); }
    .sb-heading-right .sidebar-toggle:after {
      transform: rotate(-45deg); }

.sidebar-menu {
  overflow: scroll; }

.sb-list {
  padding: 0;
  margin-top: 40px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.sb-list-item {
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center; }

.sb-link {
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  font-weight: 300;
  padding-left: 30px;
  color: #72777a; }

.sb-icon {
  position: absolute;
  top: 0;
  left: 30px;
  width: 45px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.lightBlue {
  color: #2196f3; }

.blue {
  color: #3f51b5; }

.lightRed {
  color: #ff5722; }

.brown {
  color: #795548; }

.yellow {
  color: yellow; }

.black {
  color: #000; }

.orange {
  color: orange; }

.purple {
  color: #673ab7; }

.fucsia {
  color: #9c27b0; }

.red {
  color: #e91e63; }

/*# sourceMappingURL=sidebar.css.map */
