body, html {
  height: 100%;
  max-height: 100%; }

.success, .fail {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border: 1px solid #c7c7c7; }

.success {
  background-color: rgba(144, 238, 144, 0.5);
  position: relative; }

.fail {
  background-color: rgba(240, 128, 128, 0.5);
  position: relative; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 40px;
  border-bottom: 1px solid #d3d3d3; }

.nav-name span {
  font-size: 1.2rem; }

.nav-status {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.status-indicator-ok {
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  background-color: green; }

.status-indicator-error {
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  background-color: red; }

#workplace {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.check-preview, .menu, .order-control {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  width: 33.33333%;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 40px);
  position: relative;
  border-right: 1px solid #c9c9c9; }

.check-preview {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.check-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; }

.row, .order-total-row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  color: #232323; }

.row:hover {
  cursor: pointer;
  background-color: lightblue !important; }

.row:nth-child(odd) {
  background-color: #d9d9d9;
  color: #232323; }

.cell, .cell-small, .cell-big {
  height: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.check-etc {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 33.333334%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center; }

.control-operation-button {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  max-width: 25%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3rem; }
  .control-operation-button:hover {
    cursor: pointer;
    z-index: 1;
    outline: 3px solid lightcoral; }

.exit-button {
  bottom: 0;
  left: 0;
  background-color: red; }

.update-button {
  bottom: 0;
  left: 100px;
  background-color: lightblue; }

.change-user-button {
  bottom: 0;
  left: 200px;
  background-color: #c9c9c9; }

.cell {
  -ms-flex: 20 0 0;
  flex: 20 0 0; }

.cell-small {
  -ms-flex: 15 0 0;
  flex: 15 0 0; }

.cell-big {
  -ms-flex: 50 0 0;
  flex: 50 0 0; }

.menu, .order-control {
  -ms-flex-direction: column;
  flex-direction: column; }

.menu-upper, .menu-lower {
  width: 100%;
  height: calc(50vh - 20px); }

.categories-content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%;
  height: 100px;
  padding: 10px;
  position: relative; }

.category-button {
  background: lightblue;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: inherit;
  cursor: pointer; }
  .category-button:hover {
    cursor: pointer;
    background-color: lightcoral; }

.menu-lower {
  overflow-y: scroll;
  border-top: 1px dashed #c7c7c7; }

.order-upper, .order-lower {
  width: 100%; }

.order-upper {
  height: calc(33%); }

.order-lower {
  height: calc(66% - 20px); }

.order-lower {
  border-top: 1px dashed #c7c7c7; }

.products-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product {
  width: calc(50% - 5px);
  margin-top: 5px; }

.product button {
  width: 100%;
  padding: 5px;
  text-align: center;
  height: 45px; }

.product-portions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .product-portions button {
    margin-top: 5px;
    width: calc(33.333% - 10px);
    padding: 30px; }

.order-controls {
  margin: 5px 0 0 5px; }
  .order-controls button {
    padding: 12px 18px;
    border: 1px solid black;
    outline: none; }

#order-add {
  background: rgba(98, 230, 98, 0.4); }

#order-cancel-product {
  background: rgba(255, 0, 98, 0.4); }

#order-remove-product {
  background-color: orange; }

.order-submit-button {
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 25%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3rem; }
  .order-submit-button:hover {
    cursor: pointer;
    z-index: 1;
    outline: 3px solid lightcoral; }

.popup-wrapper, .popup-order-wrapper {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.workplace-popup-form {
  width: 70%;
  height: 90%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex; }

.workplace-order-popup-form {
  width: 70%;
  height: 90%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .workplace-order-popup-form h2 {
    text-align: center; }
  .workplace-order-popup-form hr {
    background-color: black;
    height: 2px; }

.popup-row {
  display: -ms-flexbox;
  display: flex; }

#order-popup-total {
  margin: 15px 0 0 5px;
  font-weight: bold; }

.order-popup-controls {
  display: -ms-flexbox;
  display: flex;
  margin: 5px; }

#order-popup-discount, #order-popup-clear {
  width: auto;
  padding: 12px 20px;
  background-color: #f4f4f4;
  border: 1px solid #000;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.order-popup-discount-buttons {
  margin: 5px; }

.order-popup-form-discount-button {
  padding: 8px 12px;
  margin: 0 5px; }

.popup-form-info, .popup-form-controls {
  padding: 30px; }

.popup-form-info {
  border-right: 1px dashed #c7c7c7; }

.popup-form-controls-nums {
  height: 70%; }

#popup-edit {
  border: 1px solid #000;
  background: none;
  outline: none;
  text-align: center; }

#popup-delete {
  border: 1px solid #000;
  background: none;
  outline: none;
  text-align: center; }

#popup-close, #popup-order-close {
  position: absolute;
  right: 25px;
  top: 25px;
  background: none;
  border: none;
  font-size: 2rem; }

.workplace-popup-form-item {
  padding: 15px 0;
  position: relative;
  font-size: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd; }
  .workplace-popup-form-item p {
    position: relative;
    margin: 0;
    display: block; }

.locked-icon, .unlocked-icon {
  display: none; }

.locked > .locked-icon {
  display: block;
  position: absolute;
  height: 30px;
  width: 40px;
  top: 15px;
  right: 0; }

.unlocked > .unlocked-icon {
  display: block;
  position: absolute;
  height: 30px;
  width: 40px;
  top: 15px;
  right: 0; }

#popup-id {
  width: 50px;
  border: none; }

#allowEditing {
  position: relative;
  margin-top: 15px;
  padding: 10px 40px 10px 5px; }
  #allowEditing > .locked-icon, #allowEditing .unlocked-icon {
    top: 10px; }

#allowEditing.locked:after, #allowEditing.unlocked:after {
  top: 4px;
  right: 0; }

#popup-name {
  border: none; }

/*# sourceMappingURL=workplace.css.map */
