.navigation {
  position: relative;
  background-color: lightblue;
}

.nav-list {
  padding: 0;
  margin: 0;
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.nav-item {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 8px 20px;
  //text-decoration: none;
  color: #232323;
}