.header {
  position: fixed;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  border-bottom:1px solid #d3d3d3;
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 65px;
}

.header-toggle {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
  }
}

.header-info {
  height: 100%;
}

.user-info {
  height: 100%;
  min-width:125px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
  span {
    color: #232323;
    margin-right: 10px;
  }
  svg {
    color: #72777a;
  }
  &:hover {
    .user-links-list {
      opacity: 1;
      display: block;
    }
  }
}

.user-links-list {
  display: none;
  background-color: rgba(35, 35, 35, 0.3);
  min-width: 150px;
  position: absolute;
  top: 49px;
  border-radius: 5px;
  opacity: 0;
  left: 0;
  padding: 0;
  list-style: none;
}

.user-links-list-item {
  padding: 10px;
}

.user-link {

}

main {
  min-height: 600px;
  background-color: #f9fafb;
}

.table {
  margin-top: 120px;
  margin-bottom:100px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top:50px;
  }
}
.table-section-small {
  flex:1 0 0;
}
.table-section {
  flex:2 0 0;
}
.table-section-big {
  flex: 3 0 0;
}
.table-section-small,.table-section,.table-section-big {
  b {
    color: #232323;
  }
}
.table-heading-black {
  background-color: #232323;
  width: 100%;
  min-height: 45px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.table-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.table-list-item {
  text-align: center;
  width: 100%;
  min-height: 45px;
  color: #232323;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
  }
}

.table-edit {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #2196f3;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.table-delete {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: lightcoral;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.table-add-block {
  //z-index: 10;
  cursor: pointer;
  margin: 20px 0 20px 30px;
  padding: 4px 8px;
  display: flex;
  border: none;
  outline: none;
  align-self: flex-start;
  flex-direction: row;
  min-height: 40px;
  border-radius: 5px;
  background-color: lightgreen;
  width: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  span {
    margin-left: 5px;
  }
}

.pagination {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  li {
    display: flex;
    border-right: 1px solid #d3d3d3;

    a {
      padding: 10px 12px;
      color: #007bff;
      text-decoration: none;
      &:hover {
        background-color: #e9ecef;
        border-color: #dee2e6;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
  li.disabled,li.active {
    padding: 10px 12px;
    pointer-events: none;
    color: #6c757d;
    &:after {
      display: none;
    }
  }
}

.dashboard-content {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
}

.row-vertical {
  flex-direction: column;
  align-items:flex-start;
}



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}

.title {
  display: flex;
  flex:10 0 0;
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  width: 100%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &:last-child {
    border: none;
  }
  div {
    padding: 0 18px;
    border-bottom: 1px solid #c7c7c7;
  }
}

#button-add-general {
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 75px;
  width: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: lightgreen;
  color: black;
  font-size: 26px;
}