@import 'layouts/nav';
@import 'layouts/footer';

.login {
  position: relative;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.login-form {
  margin:100px 0;
  width: 550px;
  max-width: 75%;
  background-color: lightblue;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #232323;
  }
  button {
    font-size: 1.2rem;
    font-family:Lato,sans-serif;
    padding: 14px;
    margin: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
    max-width: 40%;
    align-self: center;
    cursor: pointer;
    font-weight: 300;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

.input-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 20px 0;
  input {
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 1.1rem;
    border-radius: 2px;
    background-color: #fff;
    width: 70%;
  }
  svg {
    position: absolute;
    left: 55px;
    top:12px;
  }
}

.fdr {
  flex-direction: row;
}
.pdr-1 {
  padding-right: 0.5rem;
}
