.danger-color {
  color: darkred;
}

.payments {
  h1 {
    margin-top:50px;
  }
}

.taxes {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 20px;
  h1 {
    margin: 0;
    padding: 35px;
    text-align: center;
    border-bottom: 1px solid black;
  }
}

.tax-block {
  h3 {
    margin-top: 0;
  }
  padding: 20px;
  border-bottom:1px solid black;
  .accordion {
    margin-bottom: 10px;
  }
}

.panel .form-row {
  padding: 10px 18px;
  button {
    border:1px solid #444;
    padding: 8px 12px;
    font-size: 1.1rem;
    background: none;
    outline:none;
  }
}

.fdc {
  flex-direction: column;
}
.panel div {
  border-bottom:none;
}
.taxes {
  margin-top: 100px;
  width: 100%;
}
.panel {
  .small-table {
    padding: 0;
  }
  .small-table-row {
    padding: 0;
    border: none;
  }
  .small-table-content {
    padding: 0;
  }
}
.small-table {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.small-table-row {
  width: 100%;
  display: flex;
  height: 50px;
}

.small-table-cell {
  flex: 2 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-table-big-cell {
  flex:3 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-table-small-cell {
  flex:1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-table-content {
  width: 100%;
}

.small-table-content .small-table-row {
  width: 100%;
  border-top:1px solid black;
}

