.sidebar {
  z-index: 100;
  background-color: white;
  position: fixed;
  left: -500px;
  right: 0;
  width:20%;
  display: flex;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.25);
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -ms-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.sidebar-heading {
  border-bottom:1px solid #d3d3d3;
}

.sidebar-content {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sb-heading-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 40px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.sb-heading-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  .sidebar-toggle {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
    &:before, &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
      z-index: 2;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.sidebar-menu {
overflow: scroll;
}

.sb-list {
  padding: 0;
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sb-list-item {
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
}

.sb-link {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  font-weight: 300;
  padding-left:30px;
  //-webkit-transition: all 0.3s ease-out;
  //-moz-transition: all 0.3s ease-out;
  //-ms-transition: all 0.3s ease-out;
  //-o-transition: all 0.3s ease-out;
  //transition: all 0.3s ease-out;
  color: #72777a;
  &:hover {
      //color: #232323;
  }
}

.sb-icon {
  position: absolute;
  top: 0;
  left: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightBlue {
  color: #2196f3;
}

.blue {
  color: #3f51b5;
}

.lightRed {
  color: #ff5722;
}

.brown {
  color: #795548;
}

.yellow {
  color: yellow;
}

.black {
  color: #000;
}

.orange {
  color: orange;
}

.purple {
  color: #673ab7;
}

.fucsia {
  color: #9c27b0;
}

.red {
  color: #e91e63;
}




