.staff {
  h1 {
    margin-top:50px;
  }
}


.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  width: 100%;

}

.flex-item-half {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  margin: 20px 0 10px 10px;
  background: white;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.15);
  &:first-child {
    margin-left: 0;
    margin-right: 10px;
  }
}

.flex-item-half-heading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.space-between {
  justify-content: space-between;
}

.table-light {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.table-light-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content:space-around;
  background-color: lightgrey;
  min-height: 30px;
}

.table-light-content {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  position: relative;
  list-style: none;
  li {
    min-height: 30px;
    display: flex;
    padding: 5px 0;
    width: 100%;
    border-top: 1px solid #e9ecef;
    color: #72777a;
    &:nth-child(odd)
    {
      background-color: rgba(0,0,0,.05);;
    }
    &:last-child {
      border-bottom: 1px solid #e9ecef;
    }
  }
}

.profile-activator{
  border: none;
  outline:none;
  background: transparent;
}